*{
    margin: 0;
    padding: 0;
}
/* common shared styles */
body{
    font-family: "Work Sans"
}

.banner-title{
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;
    width: 525px;
    height: 228px;
    text-align: right;
    padding: 200px 0 0 845px;
}
.banner-description  {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    width: 494px;
    height: 78px;
    text-align: right;
    padding: 15px 0 0 870px;
}
    

.but-primari{
    padding: 21px 25px ;
    font-weight: 600;
    font-size: 20px;
    color:#005FAC;
    border: 0;
    border-radius: 5px;
}
.butto{
    padding: 32px 0 0 1210px;
}
header{
    background-image: url('/images/banner/banner3.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 808px;
    /* position: absolute; */
}
.section-01{
    display: flex;
    align-items: center;
    margin-top: 150px;
    justify-content: center;
    gap: 134px;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    width: 416px;
    height: 104px;
    margin-top: 24px;
}
.section-header{
    color:  #151414;
    font-size: 40px;
    font-weight: 700;
    width: 288px;
    height: 98px; 
}
.tion-tisecttle{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    gap: 8px;
}
.tion-tisecttle-top{
    margin-top: 30px;
}
.MyPlans{
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 180px;
}
.img-icon-h{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
 }
.img-icon-p{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

.img-icon{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 120px;
}
    

.grading {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url('/images/watch.png');
    background-repeat: no-repeat;
    margin-bottom: 100px;
    width: 1140px;
    height: 300px;
    flex-shrink: 0;
    margin-left: 225px;
}
.Awlays-keep {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    width: 459px;
    height: 94px;
    padding-top: 59px;
    padding-left: 64px;
}
.but-primari-id{
    width: 160px;
    height: 64px;
    padding-left: 64px;   
}
.seocal-icon{
    display: flex;
    width: 175px;
    height: 46px;
    flex-shrink: 0;
}
.Future-footer{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    width: 148px;
    height: 53px;
}
footer{
    width: 1600px;
    height: 577px;
    flex-shrink: 0;
    background: #151414;
}
.footer-p{
    color: #FFF; 
    font-size: 16px;
    font-weight: 400;
    width: 485px;
    height: 78px;
    margin-bottom: 24px;   
} 
.footer-email{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    width: 184px;
    height: 26px;
    margin-bottom: 16px;   
} 
.footer-phne{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    width: 186px;
    height: 26px;
}
.Subscribe{
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    width: 123px;
    height: 29px;
    margin-bottom: 25px;   
} 
.Contact-email{
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    width: 146px;
    height: 21px;
    background: #151414;
    padding-top: 13px;
    padding-right: 150px;
    padding-left: 20px;
    padding-bottom: 13px;
    border-radius: 5px;
}
.but-Subscribe{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #005FAC; 
    width: 170.106px;
    height: 64px;
    flex-shrink: 0;
    width: 170.106px;
    margin-top: 16px;
}
.footer-div{
   display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px;
  justify-content: space-around;
   
}